section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
}

img{
  width:50%;
  margin: 1px auto;
  display: block;
  align-items: center;
}
/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
}

/* Header Styles */
header {
  background-color: rgb(0, 0, 0);
  color: #fff;
  padding: 20px;
}
header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header nav li {
  display: inline-block;
}
header nav a {
  color: #fff;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}
header nav a:hover {
  background-color: #555;
}

/* Main Content Styles */
main {
  padding: 20px;
}
section {
  margin-bottom: 40px;
}
section h2 {
  margin-top: 0;
}


.portfolio